/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #0056b3;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.title {
  text-align: left;
  font-family: Georgia, serif;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
}

.title::after {
  content: "|";
  display: inline-block;
  margin-left: 3px;
  animation: blink 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.typing-animation {
  animation: typing 4s steps(40) 1s 1 normal both;
}

section {
  padding: 40px;
  border-top: 2px solid #333;
}

section:first-of-type {
  margin-top: 0;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

footer {
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.section-content {
  display: flex;
  align-items: center;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 175px; /* Adjust the width as needed */
  height: 175px; /* Adjust the height as needed */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 50px; /* Adjust the margin as needed */
  border: 2px solid #333;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-icons {
  margin-top: 30px; 
  text-align: center;
}

.profile-icons a {
  color: #333;
  font-size: 32px;
  margin-right: 15px;
}


.text-content {
  flex: 1;
}

.text-content h2 {
  text-align: left;
}

.text-content p {
  text-align: left;
}

.header-icon {
  width: 54px;
  height: 54px;
  margin-left: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.publication-list {
  list-style-type: none;
  padding: 0px;
}

.publication-item {
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: 2px solid #333;
}

.publication-content {
  display: flex;
  align-items: flex-start;
}

.publication-thumbnail {
  flex: 0 0 280px; /* Fixed width for thumbnail */
  margin-right: 15px; /* Space between thumbnail and publication details */
  background-color: white; /* Placeholder background color */
  border-radius: 5px; /* Rounded corners for the placeholder */
  /* border: 1px solid #333; Add a border around the placeholder */
  /* padding: 1px; Space between the image and the placeholder's edges */
  box-sizing: border-box; /* Ensure padding doesn't increase total size */
}

.publication-thumbnail img {
  width: 100%; /* Image fills the placeholder */
  height: auto; /* Maintain aspect ratio */
}

.publication-details {
  flex: 1; /* Take remaining space */
}

.publication-title {
  font-size: 1em;
  margin: 0;
}

.publication-authors {
  font-size: 0.9em;
}

.publication-conference {
  font-size: 0.9em;
}

.publication-info {
  margin-top: 10px;
}

.publication-link {
  text-decoration: none;
  color: #1573e6;
  transition: color 0.3s ease;
}

.publication-link:hover {
  color: #0056b3;
}

.project-list {
  list-style-type: none;
  padding: 0px;
}

.project-item {
  /* padding: 2px; */
  margin-bottom: 20px;
  padding-left: 10px;
  /* border-left: 2px solid #333; */
}

.project-link {
  text-decoration: none;
  color: #1573e6;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #0056b3;
}

.project-title {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

.project-subtitle {
  font-size: 15px;
  color: #888;
  margin-left: 2px; /* Add an indent */
  margin-top: -15px; /* Adjust the top margin as needed */
}

.repo-info-container {
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}
.repo-info-container h3 {
  font-size: 26px;
  margin: 0;
  font-style: normal;
  /* color: #0366d6; */
}
.repo-info-container p {
  font-size: 16px;
  color: #586069;
  margin: 5px 0;
}
.repo-info-container .description {
  font-size: 14px;
  color: #586069;
  margin-top: 10px;
}
.repo-info-container .repo-stats {
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  gap: 20px;
}
.repo-info-container .repo-stats span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.repo-info-container a {
  color: #0366d6;
  text-decoration: none;
}
.repo-info-container a:hover {
  text-decoration: underline;
}
.repo-info-container .btn {
  display: inline-block;
  padding: 5px 12px;
  background-color: #28a745;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}
.repo-info-container .btn:hover {
  background-color: #218838;
}
.repo-info-container .repo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}












